{
    "bootstrap_expect": {{ consul_bootstrap }},
    "client_addr": "0.0.0.0",
    "datacenter": "{{ consul_datacenter }}",
    "data_dir": "{{ consul_data }}",
    "domain": "{{ consul_domain }}",
    "enable_script_checks": true,
    "dns_config": {
        "enable_truncate": true,
        "only_passing": true
    },
    "enable_syslog": true,
    "encrypt": "{{ consul_encrypt }}",
    "leave_on_terminate": true,
    "log_level": "INFO",
    "rejoin_after_leave": true,
    "server": true,
    "connect": {
        "enabled": true
    },
    "ports": {
        "server": {{ consul_port_server }},
        "serf_lan": {{ consul_port_serf_lan }},
        "serf_wan": {{ consul_port_serf_wan }},
        "http": {{ consul_port_http }},
        "https": {{ consul_port_https }},
        "grpc": {{ consul_port_grpc }},
        "dns": {{ consul_port_dns }}
    },
    "start_join": [
        "{{ consul_node1 }}",
        "{{ consul_node2 }}"
    ],
    "ui": {{ consul_ui|lower }}
}