{
    "bootstrap_expect": {{ consul_bootstrap }},
    "client_addr": "0.0.0.0",
    "datacenter": "{{ consul_datacenter }}",
    "data_dir": "{{ consul_data }}",
    "domain": "{{ consul_domain }}",
    "enable_script_checks": true,
    "dns_config": {
        "enable_truncate": true,
        "only_passing": true
    },
    "enable_syslog": true,
    "encrypt": "{{ consul_encrypt }}",
    "leave_on_terminate": true,
    "log_level": "INFO",
    "rejoin_after_leave": true,
    "server": true,
    "connect": {
        "enabled": true
    },    
    "start_join": [
        "{{ consul_node1 }}",
        "{{ consul_node2 }}"
    ],
    "ui": {{ consul_ui|lower }}
}